flattr-options-preset
{
  display: block;
  width: 460px;
  margin: auto;
  padding: 50px;
  border-top: 1px solid #CCC;
}

flattr-options-preset ul
{
  padding: 0;
}

flattr-options-preset li
{
  list-style: none;
}

flattr-options-preset input
{
  display: none;
}

flattr-options-preset label
{
  color: #555;
  cursor: pointer;
}

flattr-options-preset label::before
{
  display: inline-block;
  margin: 5px;
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: middle;
  content: "\2610";
}

flattr-options-preset input:checked + label::before
{
  color: #38B838;
  content: "\2611";
}

flattr-options-preset li a
{
  color: #1AA3D4;
}
